---
import UserAccount from "./UserAccount.astro"

interface props {
    userInfo: object
}

const {userInfo} = Astro.props
const {id, name, username, role, profile_image_url} = userInfo

---

<aside class="[grid-area:aside] flex flex-col overflow-y-auto animate-fade-in-down gap-4">
    <!-- <AsideMenu/> -->
     <!-- user information -->
    <UserAccount userInfo={userInfo}/>

     <!-- categories section -->
     <div class="p-4 bg-[hsl(244,51%,23%)] rounded-xl max-h-96">
        <div class="capitalize text-white text-xl after:border-2 relative after:border-sky-400 after:absolute after:top-0 after:left-0 after:h-[80%] overflow-hidden ps-5 after:rounde-md">
            categories
        </div>
        <div class="overflow-y-scroll text-slate-50 mt-4">
            <div>
                <a href="#" class="inline-block w-full py-2 px-2 rounded-md hover:bg-sky-400/70 hover:px-5 transition-all duration-300">
                    <span  class="capitalize">example</span>
                </a>
                <a href="#" class="inline-block w-full py-2 px-2 rounded-md hover:bg-sky-400/70 hover:px-5 transition-all duration-300">
                    <span class="capitalize">example</span>
                </a>
            </div>
        </div>
     </div>

     <!-- tags section -->
     <div class="p-4 bg-[hsl(244,51%,23%)] rounded-xl max-h-96">
        <div class="capitalize text-white text-xl after:border-2 relative after:border-sky-400 after:absolute after:top-0 after:left-0 after:h-[80%] overflow-hidden ps-5 after:rounde-md">
            tags
        </div>
        <div class="flex-wrap text-slate-50 mt-6 gap-2 space-y-2">
            <a href="#" class="inline-block rounded-lg bg-sky-700 hover:bg-sky-500 transition-colors py-2 px-3 text-sm" aria-label="View all posts with the Blogging tag">Blogging</a>
            
        </div>
     </div>
</aside>