---

---

<div class="w-full max-w-md backdrop-blur-lg dark:bg-blue-950 px-10 py-12 rounded-lg animate-blurred-fade-in relative">
    <form class="" id="loginForm">
        <div class="mb-5">
        <label for="username" class="block mb-2 text-lg font-medium text-slate-100 dark:text-white">User Account</label>
        <input type="text" name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="nearaccount" required />
        </div>
        <div class="mb-5">
            <label for="password" class="block mb-2 text-lg  font-medium text-slate-100 dark:text-white">Password</label>
            <input type="password" name="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
        </div>
        <a href="/register" class="text-xs inline-block mb-4 underline text-blue-400">No tienes una cuenta, Crea tu cuenta.</a>
        <button type="submit" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    </form>
    
</div>
<script>
    const loginForm = document.getElementById("loginForm")
    const messageLogin: HTMLElement | null = document.getElementById("toastAuthentication")

    loginForm?.addEventListener('submit', handleLogin)

    async function handleLogin(event) {
        event.preventDefault();
        const formData = new FormData(event.target);
        const username = formData.get('username');
        const password = formData.get('password');

        const response = await fetch('/api/login', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ username, password }),
        });

        if (response.ok) {
            // Redirecciona a la página de posts o actualiza el estado de autenticación
            Toastify({
                text: 'Logeo exitoso',
                className: "success",
                style: {
                    background: "linear-gradient(to right, #00b09b, #96c93d)",
                }
            }).showToast();

            setTimeout(() => {
                window.location.href = '/homeAccount';
            }, 200);

        } else {
            console.log(response)

            console.error('Error de autenticación');
            Toastify({
                text: 'El usuario o contraseña son incorrectos.',
                className: "error",
                style: {
                    background: "#c90370",
                }
            }).showToast();
        }
    }

</script>

<!-- <script>
    import {loginAuthentication} from '../services/userAuthentication'

    const loginForm = document.getElementById("loginForm")
    const messageLogin: HTMLElement | null = document.getElementById("toastAuthentication")
    

    loginForm?.addEventListener('submit', async(e) => {
        e.preventDefault()

        const username = document.getElementById("username")?.value
        const password = document.getElementById("password")?.value

        const {message , authenticated} = await loginAuthentication({username, password})

        if(authenticated){

            Toastify({
                text: message,
                className: "success",
                style: {
                    background: "linear-gradient(to right, #00b09b, #96c93d)",
                }
            }).showToast();

            window.location.href = "/homeAccount"
           
            return
        }
        
        Toastify({
            text: 'El usuario o contraseña son incorrectos.',
            className: "error",
            style: {
                background: "#c90370",
            }
        }).showToast();
    })
</script> -->