
<div class="w-full max-w-xl backdrop-blur-lg dark:bg-blue-950 px-10 py-12 rounded-lg animate-blurred-fade-in relative">

    <form class="mx-auto space-y-6" id="registerForm">
        <h5 class="text-white text-xl font-bold">Register Now</h5>
        <div class="relative z-0 w-full mb-5 group">
            <input type="text" name="username" id="username" class="block py-2.5 px-0 w-full text-sm  bg-transparent border-0 border-b-2 border-gray-300 appearance-none text-white dark:border-gray-600 dark:focus:border-yellow-500 focus:outline-none focus:ring-0 focus:border-yellow-600 peer" placeholder=" " required />
            <label for="username" class="peer-focus:font-medium absolute text-sm text-slate-50 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-slate-100 peer-focus:dark:text-slate-50 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Username</label>
        </div>
        <div class="relative z-0 w-full mb-5 group">
            <input type="email" name="email" id="email" class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-slate-300 appearance-none  focus:outline-none focus:ring-0 focus:border-yellow-500 peer" placeholder=" " required />
            <label for="email" class="peer-focus:font-medium absolute text-sm text-slate-50 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-100 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email address</label>
        </div>
        <div class="relative z-0 w-full mb-5 group">
            <input type="password" name="password" id="password" class="block py-2.5 px-0 w-full text-sm  bg-transparent border-0 border-b-2 border-gray-300 appearance-none text-white dark:border-gray-600  focus:outline-none focus:ring-0 focus:border-yellow-500 peer" placeholder=" " required />
            <label for="password" class="peer-focus:font-medium absolute text-sm text-slate-50 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-slate-100 peer-focus:dark:text-slate-50 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
        </div>
        
        <div class="grid md:grid-cols-2 md:gap-6">
            <div class="relative z-0 w-full mb-5 group">
                <input type="text" name="name" id="name" class="block py-2.5 px-0 w-full text-sm  bg-transparent border-0 border-b-2 border-gray-300 appearance-none text-white dark:border-gray-600 dark:focus:border-yellow-500 focus:outline-none focus:ring-0 focus:border-yellow-600 peer" placeholder=" " required />
                <label for="floating_first_name" class="peer-focus:font-medium absolute text-sm text-slate-50 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-slate-100 peer-focus:dark:text-slate-50 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First name</label>
            </div>
            <!-- <div class="relative z-0 w-full mb-5 group">
                <input type="text" name="last_name" id="last_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                <label for="last_name" class="peer-focus:font-medium absolute text-sm text-slate-50 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-slate-100 peer-focus:dark:text-slate-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last name</label>
            </div> -->
        </div>
        
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
        <a href="/" class="text-sm text-blue-900 underline bg-yellow-300 hover:bg-yellow-400 transition-colors hover:text-white px-10 py-3 rounded-md">Go to Login</a>
    </form>
    
</div>

<script>
    import {registerNewUser} from '../services/addNewUser'

    const registerForm: HTMLElement | null =  document.getElementById('registerForm')
    
    registerForm?.addEventListener('submit', async(e) => {
        e.preventDefault()

        // const username = document.getElementById("floating_username")?.value
        // const userPassword = document.getElementById("floating_password")?.value
        // const userFirstName = document.getElementById("floating_first_name")?.value
        // const userEmail = document.getElementById("floating_email")?.value
        const dataForm = new FormData(registerForm)


        // const registerData = {
        //     username,
        //     password: userPassword,
        //     name: userFirstName,
        //     email: userEmail
        // }

        const {message, status} = await registerNewUser(dataForm)
        console.log(status)
        if(status){

            Toastify({
                text: message,
                className: "success",
                style: {
                    background: "linear-gradient(to right, #00b09b, #96c93d)",
                }
            }).showToast();

            return
        }

        Toastify({
            text: 'No se pudo agregar el usuario',
            className: "error",
            style: {
                background: "#c90370",
            }
        }).showToast();

    })

</script>